.div {
  background-color: lightcoral;
}

.label {
  /* display: inline-block; */
  position: relative;
  cursor: pointer;
  user-select: none;
  width: 40px;
  height: 40px;
  margin: 8px;
  /* border-radius: 50%; */
  /* line-height: 35px; */
  text-align: center;
}

.input {
  position: absolute;
  opacity: 0;
}

.checkmark {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  font-size: 0.8em;
  border-radius: 60%;
  box-sizing: border-box;
  line-height: 35px;
  text-align: center;
  color: rgb(27, 26, 32);
  background-color: rgb(236, 236, 236);
  border: 1px solid transparent;
}
